body {
  background-color: lavender;
}

h1 {
    padding-left: 200px;
    padding-right: 200px;
    color: darkcyan;
    font-family: "Arial Black", Gadget, sans-serif;
    align-content: center;
}

p{
padding-left: 200px;
padding-right: 200px;
color: cadetblue;
align-content: center;
font-family: "Arial Black", sans-serif;
}
a:link {
  color: cadetblue; 
  background-color: transparent; 
  text-decoration: none;
}
